<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Here is the input and the result of the Toy Robot</h2>
          <p class="lead">Input:</p>
          <pre><%= raw @input.gsub("\\n","<br \\>") %></pre>
          <p class="lead">The result is:</p>
          <pre><%= @result %></pre>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="http://3g28wn33sno63ljjq514qr87.wpengine.netdna-cdn.com/wp-content/uploads/2015/11/best-pixar-movie-romance.jpg" alt="">
      </div>
    </div>
  </div>
</div>
